---
---
.item {
	height: 300px;
	width: 220px;
	float: left;
	margin: 1rem;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	cursor: pointer;
}

a:hover {
	text-decoration: none;
}

a.pdf {
	display: block;
	width: 100%;
	height: 100%;
	color: white;
}

a.pdf:hover {
	background-color: black;
	-moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.metadata {
	padding: 0.5rem;
	margin: 0;
}

.right {
	float: right;
}

.clear {
	clear:both;
}

.mfp-iframe-holder .mfp-content {
	 max-width: 1000px;
	 height: 100%;
}